$link-colour: #444;

* { font-family: 'Verdana', sans-serif }

.architecture {
    margin-top: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.architecture h2 {
    color: black;
}

.architecture ul {
  list-style: none;
  
  padding: 0;
  
 .method {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    margin: 20px;
  }
  
  li a {
    text-decoration: none;
    color: rgb(68, 139, 142);
    margin-bottom: 50px;
    
    &:hover {
      color: scale-color($link-colour, $lightness: 50%)
  }
  }
}
