.text-editor-main{
    display: flex;
}
.h1-texteditor {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.editor {
    width: 900px;
    height: 730px;
    margin-left: 20%;
    margin-top: 50px;
}


@media only screen and (max-width: 768px) {
    .h1-texteditor {
        margin: 15px;
    }

    .editor {
        width: 90%; 
        max-width: 100%;
        height: auto; 
        margin: 20px auto; 
}
}