.Signup,
.Login
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:80vh;
}
.Signup-animation,
.login-animation
{
    display: flex;
    justify-content: center;
    border: 2.5px solid #000;
    border-radius: 10px;
    box-shadow: 2px 3px;
}
