.landing {
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
  }
  
  .container-one {
	font-size: 50px;
	letter-spacing: 10px;
	font-family: monospace;
	border-right: 5px solid black;
	width: 100%;
	margin-top:120px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 4s steps(14, end), anim .4s step-end infinite;
  }
  
  @keyframes anim {
	50% {
	  border-color: transparent;
	}
  }
  
  @keyframes typing {
	from {
	  width: 0;
	}
  }
  
  .landing .course-btn {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
  }
  
  .course-btn button {
	font-size: 20px;
	padding: 8px 16px;
	border: 3px solid black;
	color: white;
	background-color: #875194;
	border-radius: 10px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
	.landing {
	  height: 550px;
	}
  
	.container-one {
	  font-size: 25px;
	}
  
	.course-btn {
	  flex-direction: column;
	  gap: 10px;
	margin-bottom:-100px;
	}
  
	.course-btn button {
	  font-size: 16px;
	 
	}
  }
  