.hover-container {
    height:100%;
    width:100%;
}
.hover-body {
  display: flex;
  align-items: center;
    height:600px;
}

#circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .circle {
    width: 50vh;
    height: 50vh;
    position: absolute;
    border-radius: 50%;
  }
  
  #one:before {
    content: "Hover Me!";
  }
  
  #one {
    background-color: rgba(0,0,225, 0.45);
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 1s;
  }
  
  #two {
    background-color: green;
    transition: 1s;
    opacity: 0.5;
  }
  
  #three {
    background-color: red;
    transition: 1s;
    opacity: 0.5;
  }
  
  #four {
    background-color: orange;
    transition: 1s;
    opacity: 0.5;
  }
  #five {
    background-color: green;
    transition: 1s;
    opacity: 0.5;
  }
  
  #cc {
    position:relative;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #cc:hover #two {
    transform: translate(0px, 75px);
  }
  #cc:hover #three {
    transform: translate(0px, -75px);
  }
  #cc:hover #four {
    transform: translate(75px, 0px);
  }
  #cc:hover #five {
    transform: translate(-75px, 0px);
  }
  
  #mb {
    position: absolute;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #3B3A6D;
    color: white;
  }
  
  #mb a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
  }
  
  #mb p {
    padding: 5px;
    margin: 0px;
  }

  /* section-two */

  .fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow: 
    inset -5.5em 0 0 0 var(--hover),
    inset 6.5em 0 0 0 var(--hover);  
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 12.5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  fill: #a972cb,
  pulse: #ef6eae, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #e4cb58, 
  slide: #8fc866, 
  offset: #19bc8b
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $hoverButton, $color in $colors {
  .#{$hoverButton} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
.hoverButton {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

.hoverBtn {
  color: #030303;
  font: 300 1em 'Fira Sans', sans-serif;
  // Center everything ever
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:700px;
  display: flex;
  gap:100px;

}

// Basic button styles
.hoverButton {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 15px 35px;
}
.hovers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  

}

.hoverButton h1 { font-weight: 400; }

code { 
  color: #e4cb58;
  font: inherit;
}

@media only screen and (max-width: 768px) {
  .hovers {
    flex-direction:column;
  }
  .hoverButton {
    padding: 15px 75px;                 
  }
  .hoverBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0;
    height:100vh;
  }
  .hover-body {
    height:550px;
    display: flex;
    align-items: center;
  }
  #cc {
    width:350px;
    height:350px;
    border-radius:50%;
  }
  .hover-title h1 {
    text-align: center;
    margin: 0; 
  }

}