.masking-container {
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
  }
  
  .masking-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80vh;
  }
  .masking-section h1 {
    font-size: 5rem;
    background: url(https://i.imgur.com/eLVL8qX.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:sans-serif;
    font-weight: 1000;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  /* section-two */
  .masking-img {

    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.00019058314287% 91.0518476172854%,36.60607986722187% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.69334998469479% 77.76736691019323%,19.94796179957173% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.66421636210497% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.29942985191663% 54.56841672770182%,0% 50.00000000000001%,15.29942985191663% 45.43158327229821%,8.948152382714589% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.00000000000001%,22.23263308980676% 28.69334998469479%,19.94796179957171% 19.94796179957175%,28.69334998469477% 22.23263308980678%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.66421636210497%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.29942985191664%,49.99999999999999% 0%,54.56841672770179% 15.29942985191663%,60.99980941685711% 8.948152382714589%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.698729810778048%,71.30665001530519% 22.23263308980675%,80.05203820042826% 19.94796179957172%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    animation: star 1s infinite;
  }
  
  @keyframes star {
    0% {
      clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
    }
    50% {
      clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
    }
    100% {
      clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
    }
  }

  /* section-three */
   
  .masking-section3 {
    display:grid;
  }

  .mask-box{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
  }

   @mixin button($bcolor,
   $url,
   $x1,
   $y1,
   $bor,
   $col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    border: $bor;
    color: $col;
   }
   
   .mask-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom:100px;
   }
   
   .mask-footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 25vh;
   }
   
   .button-container-1 {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border: 5px solid black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
   
    .Hover {
      width: 101%;
      height: 100%;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      font-size: 20px;
      letter-spacing: 3px;
    
   
     @include button(#000,
     "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
     2300%,
     100%,
     none,
     #fff);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(22) forwards;
     animation: ani2 0.7s steps(22) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
     }
    }
   }
   
   .button-container-2 {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border: 5px solid black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
   
    .Hover {
      width: 101%;
      height: 100%;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      font-size: 20px;
      letter-spacing: 3px;
    
   
     @include button(#000, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
     3000%,
     100%,
     none,
     #fff);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(29) forwards;
     animation: ani2 0.7s steps(29) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
     }
    }
   }
   
   
   .mas {
       position: absolute;
       color: #000;
       text-align: center;
       width: 100%;
       font-family: 'Lato', sans-serif;
       font-weight: 300;
       position: absolute;
       font-size: 11px;
       margin-top: 17px;
       overflow: hidden;
       font-weight: bold;
   
   }
   
   @-webkit-keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @-webkit-keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }
   
   @keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }
   
   .mask-footer a{
     color:#00ff95;
   }
   
   .button-container-3 {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border: 5px solid black;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
   
    .Hover {
     width: 101%;
     height: 100%;
     font-weight: 100;
     font-size: 20px;
     letter-spacing: 3px;
   
   
     @include button(#000, "https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png",
     7100%,
     100%,
     none,
     #fff);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(70) forwards;
     animation: ani2 0.7s steps(70) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
     }
    }
   }
   
   @media only screen and (max-width: 768px) {
    .masking-section {
      height:450px;
      width:350px;  
      text-align: center;
    }
    .masking-section h1 {
      font-size:20px;

    }
    .mask-box {
      height:350px;
      flex-direction:column;
      gap:50px;
    }

    .button-container-1,
    .button-container-2,
    .button-container-3 {
      width:250px;
    }

    .mask-header {
      font-size: 20px;
      margin-bottom:30px;
    }
    .mask-footer {
      font-size:13px;
      margin-top:20px;
      margin-bottom:0;
    }
   }